extends layout

block content

    h1 #{message}
    h3= title
    br 
    br
    form(
        id='formQuotes'
        name='formQuotes'
        class='form'
        action='/quotes' 
        method='post'
        )
        div(class='row')
            div(class='col-md-12 form-group')
                label(class='') Name:
                input(class='form-control' type='text' placeholder='Enter your name' name='name' value='#{query.name}')
        div(class='row')
            div(class='col-md-12 form-group')
                label(class='') Quotes:
                textarea(class='form-control' type='text' placeholder='Enter your quote' name='quote') #{query.quote}
        div(class='row text-center')
            div(class='col-md-12 form-group')
                if query.e === 'true'
                    button(class='form-control btn btn-primary' type='button' id='editQuoteBtn') Update
                else
                    button(class='form-control btn btn-success' type='submit') Submit

